@media (max-width: 600px) {
  .home-container {
    padding-top: 40px;
  }

  .home-header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .home-middle {
    display: none;
  }

  .max-width-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .section-heading-text {
    margin-bottom: 12px;
  }

  .section-heading-section-heading {
    margin-bottom: 36px;
  }

  .section-heading-section-heading h1 {
    font-size: 20px;
  }

  .section-heading-text1 {
    font-size: 12px;
  }

  .home-cards-container {
    grid-gap: 2px;
  }

  .category-card-image {
    width: 185px;
    height: 185px;
    margin-bottom: 12px;
  }

  .category-card-text {
    font-size: 12px;
  }

  .section-container {
    flex-direction: column;
  }

  .home-main{
    padding-bottom: 48px;
  }

  .home-content {
    margin: 0;
  }

  .home-left4 {
    padding: 18px;
  }

  .home-text29 {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .home-text30 {
    width: 379px;
    font-size: 11px;
  }

  .button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .home-text31 {
    font-size: 12px;
  }

  .home-image6 {
    width: 100%;
  }

  .home-text23 {
    font-size: 11px;
  }

  .blog-post-card-blog-post-card {
    max-width: 600px;
  }

  .blog-post-card-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .blog-post-card-text {
    font-size: 16px;
  }

  .blog-post-card-text1 {
    font-size: 12px;
    margin-bottom: 22px;
  }

  .button{
    font-size: 12px;
  }

  .home-footer .home-footer1{
    flex-direction: column-reverse;
    padding-top: 80px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .home-links-container{
    flex-direction: column;
  }
}
