body{
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    min-height: 100vh;
    flex-direction: column;
}

div { 
    display: flex;
    flex-direction: row;
    gap: 2em;
    min-height: 40vh;
}

header,footer, div > *  {
    padding: 2rem;
    background-color: #FFF;
    box-shadow: 1px 1px 1px 1px rgb(172, 167, 167);
    border-radius: 0.4rem;
    color: #000;

}

header,footer{
    flex-basis: 100%;
}

main{
    flex: 8 1 40rem;
}

aside{
    flex: 2 1 20rem;
}