* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Verdana, sans-serif;
}

body{
  display: flex;
  background-color: #ddd;
  padding: 3em;
  justify-content: center;
}

.gallery{
  display: flex;
  max-width: 45em;
}

.gallery ul{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.gallery li{
  flex: 1 1 200px;
  display: flex;
  list-style: none;
  align-items: center;
  border: 6px solid black;
  background-color: white;
  padding: 2em 1em;
  box-shadow: 
  0 0 1em 0.2em rgba(0,0, 0, 0.4),
  0 0 0.3em 0.1em rgba(0,0, 0, 0.3) inset;
  ;
}

.gallery img{
  display: block;
  width: 100%;
  height: auto;
}









